.board{
  width: 900px;
  height: 900px;
}
.row{
  display: flex;
}
.cell{
  width: 40px;
  height: 40px;
  border: 0.5px solid #9f9f9f;
  font-size: 31px;
  text-align: center;
  cursor: pointer;
}
.cant-click{
  cursor: not-allowed;
}
.current{
  background-color: #9f9f9f;
}
.win{
  background-color: rgb(15, 187, 15);
}
